---
import BookList from "../../components/BookList.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const allBooks = (await getCollection("books")).sort(
  (a, b) => b.data.dateRead.valueOf() - a.data.dateRead.valueOf()
);

const pageTitle = "Bookshelf";
---

<BookList pageTitle={pageTitle}>
  <!-- <p>{description}</p> -->
  <ul>
    {
      allBooks.map((book) => (
        <li>
          {/* <a href={`/bookshelf/${book.id}/`}>{book.data.bookImage}</a> */}
          <a href={book.data.bookBuyUrl}>
            <img
              src={book.data.bookImage}
              alt={`Book cover for ${book.data.bookTitle}`}
              height="220"
              width="140"
              decoding="async"
              loading="lazy"
            />
          </a>
          <h3>{book.data.bookTitle}</h3>
          <p>{book.data.bookAuthor}</p>
          <p>
            {book.data.status &&
              !book.data.didntFinish &&
              `Finished: ${book.data.dateRead}`}
            {book.data.didntFinish && `Didn't Finish 🙁`}
          </p>
        </li>
      ))
    }
  </ul>
</BookList>
