---
import BookList from "../../components/BookList.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const allBooks = (await getCollection("books")).sort(
  (a, b) => b.data.dateRead.valueOf() - a.data.dateRead.valueOf()
);

const dateOptions: object = {
  year: "numeric",
  month: "numeric",
  day: "numeric",
  timeZone: "UTC",
};

const pageTitle = "Bookshelf";
---

<BookList pageTitle={pageTitle}>
  <p>
    Here's what I'm reading, recently read, and books I've picked up well into
    the past. Click on any of title to learn more about it.
  </p>
  <ul class="flex flex-row flex-wrap gap-x-8 gap-y-4">
    {
      allBooks.map((book) => (
        <li class="flex flex-col flex-wrap w-40">
          <a href={book.data.bookBuyUrl}>
            <Image
              src={book.data.bookImage}
              alt={`Book cover for ${book.data.bookTitle}`}
              height="220"
              width="140"
              decoding="async"
              loading="lazy"
              class="book--cover mb-1 w-200 h-220 drop-shadow-md rounded"
            />
          </a>
          <a href={book.data.bookBuyUrl}>
            <h4>{book.data.bookTitle}</h4>
          </a>
          <p class="text-sm mb-1">{book.data.bookAuthor}</p>
          <p class="text-sm mb-1 font-serif text-blog">
            {book.data.status &&
              !book.data.didntFinish &&
              `Finished: ${new Date(book.data.dateRead).toLocaleDateString("en-US", dateOptions)}`}
            {book.data.didntFinish && `Didn't Finish 🙁`}
            {!book.data.status && `Currently Reading`}
          </p>
        </li>
      ))
    }
  </ul>
</BookList>
