---
interface Props {
  title: string;
  description: string;
  permalink: string;
  canonicalUrl?: string;
}
// TODO canonical URLs to posts
let { pageTitle, description, permalink, canonicalUrl } = Astro.props;
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#f9f9f9" />
  <meta name="theme-color" content="#f9f9f9" />

  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS Feed for mattdecamp.com"
    href="/rss/"
  />

  <!-- TODO!!!! set up webmention.io here !!! -->

  <!-- Primary Meta Tags -->
  <title>{pageTitle}</title>
  <meta name="title" content={pageTitle} />
  <meta name="description" content={description} />
  {
    canonicalUrl && (
      <>
        <link rel="canonical" href={canonicalUrl} />
        <link
          rel="alternate"
          type="application/rss+xml"
          title="Your Site's Title"
          href={new URL("rss.xml", Astro.site)}
        />
        <meta property="og:type" content="article" />
        <meta property="og:title" content={pageTitle} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={permalink} />
        <meta property="og:site_name" content="Matt DeCamp's website" />
        {/*TODO <meta property="og:image" content={metaImage} /> */}
        <meta name="author" content="Matt DeCamp" />
      </>
    )
  }
  <!-- <link rel="stylesheet" href="/styles/base.css"> -->
</head>
