---
import navIcons from "../assets/icons/navIcons";
const { slug, title, link, icon } = Astro.props;
---

<div class="navigation-link--container">
  {
    slug && (
      <a class={`flex flex-row items-center text-${icon} font-serif visited:text-${icon}`} title={title} href={`/${slug}`}>
        {icon && <Fragment set:html={navIcons[icon]} />}
        {title}
      </a>
    )
  }
  {
    link && (
      <a class={`font-serif text-${icon}`} title={title} href={`${link}`}>{icon && <Fragment set:html={navIcons[icon]} />}{title}
      </a>
    )
  }
</div>